.flex-row-wrap, .logo-container, .footer .sm-footer, .footer .contact, #music-container, .checkbox, #main-events h1, .main-photos h1, .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-column-wrap, .footer, #video-container, .store-main, .subs-container, #main-events, #contain-events, .main-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.flex-row-nowrap, #out-now, .offcanvas-body, #contain-events .eventRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-column-nowrap, #contain-events .eventRow .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.center, #out-now, #video-container, .main-photos h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content-format, #contactModal .modal-content, #events-modal .modal-content {
  background-color: #050503d9;
  border: 1px solid #d9c6a3;
}

/*estilos grales del sitio */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain {
  color: #d9c6a3;
  padding: 5px;
  background-color: #050503;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 700px 80px;
      grid-template-rows: auto 700px 80px;
      grid-template-areas: "navbar" "main" "footer";
}

.main {
  background-image: url(../img/bck.jpg);
}

/*estilos modal de contacto*/
#contactModal textarea.form-control {
  font-family: monospace;
}

/*estilos del navbar*/
.nav {
  border-top: 1px solid #d9c6a3;
  padding-top: 10px;
}

.nav-border {
  border-bottom: 1px solid #d9c6a3;
}

.navbar-dark {
  display: none;
}

.logo-container {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.sm-bar {
  padding-right: 50px;
}

ul {
  list-style-type: none;
}

ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
}

ul li a:link {
  color: #d9c6a3;
  text-decoration: none;
}

ul li a:visited {
  color: #d9c6a3;
  text-decoration: none;
}

ul li a:hover {
  color: whitesmoke;
}

.p-4 {
  display: none;
}

a.logo {
  color: #d9c6a3;
  text-decoration: none;
}

a.logo:hover {
  color: #d9c6a3;
}

/*estilos footer*/
.footer {
  color: #d9c6a3;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d9c6a3;
  max-height: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .sm-footer {
  width: 297px;
  height: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .sm-footer a {
  color: #d9c6a3;
}

.footer .sm-footer a:visited {
  color: #d9c6a3;
}

.footer .sm-footer a:hover {
  color: whitesmoke;
}

.footer .contact {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 35px;
}

.footer .contact .small-text {
  font-size: 15px;
  color: #d9c6a3;
}

.footer .contact .small-text:hover {
  color: whitesmoke;
}

#out-now {
  height: 40px;
  background-color: #d9c6a3;
  color: #050503;
}

#out-now .animate__animated.animate__flash {
  --animate-duration: 3.25s;
}

#out-now a.river-link {
  color: #050503;
}

#out-now a.river-link:hover {
  text-decoration: underline;
}

#out-now a h1 {
  font-size: 1.5rem;
}

#video-container {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  aspect-ratio: 16/9 !important;
}

#video-container #video {
  width: 60%;
  height: 70%;
  border: 1px solid #d9c6a3;
  padding: 5px;
}

#video-container #video:hover {
  background-color: #244166ad;
  border: 1px solid whitesmoke;
}

#masVideos {
  background-color: #050503;
}

#masVideosLabel {
  text-decoration: overline;
  padding-right: 35px;
}

/*miniaturas canvas*/
.offcanvas-body {
  overflow: hidden;
  border: 1px solid #d9c6a3;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.offcanvas-body:hover {
  border: 1px solid whitesmoke;
}

.offcanvas-body:hover .video-card-text {
  color: whitesmoke !important;
}

.img-yt {
  height: 90% !important;
}

.card.video-card {
  background-color: #050503;
  height: 90%;
}

.video-card-text {
  height: 10%;
  position: relative;
}

/*estilos de MUSIC*/
.discography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding-top: 30px;
}

#music-container {
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music-container h2 {
  font-size: 1.3rem;
}

#music-container .card {
  background-color: #05050300 !important;
  padding-bottom: 20px;
}

#music-container .album {
  border: 1px solid #d9c6a3;
  padding: 5px;
}

#music-container .album:hover {
  background-color: #244166ad;
  border: 1px solid whitesmoke;
}

/*estilos STORE*/
.store-main {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.store-main .store-soon {
  padding-bottom: 20px;
  font-size: 2rem;
}

.subs-container {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9c6a3;
  width: 70%;
  padding-bottom: 50px;
  background-color: #05050394;
}

.subs-container #subscribe-first {
  padding: 10px 10px;
}

.subs-container .form-group {
  width: 90%;
  padding: 5px;
  padding-left: 10px;
}

input {
  outline: 0 !important;
  border: none !important;
  border-bottom: 1px solid #d9c6a3 !important;
  border-radius: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #05050300 !important;
  color: #d9c6a3 !important;
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: medium;
  width: 60%;
}

.checkbox {
  width: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main-events {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 100px;
}

#main-events h1 {
  font-size: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
}

#contain-events {
  color: #050503;
  height: auto;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding: 5px 5px;
}

#contain-events .eventRow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #050503;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: linear-gradient(54deg, #d9c6a3, #c9b797b5);
}

#contain-events .eventRow:hover {
  background-color: rgba(245, 245, 245, 0.808);
}

#contain-events .eventRow .location p {
  padding-bottom: 0;
}

#contain-events .eventRow .location .city {
  font-size: medium;
}

#events-modal {
  padding-right: 0% !important;
}

.modal-backdrop.show {
  width: 100%;
  height: 100%;
}

/*estilos BANDO*/
#bando-body {
  -ms-grid-rows: auto auto 80px;
      grid-template-rows: auto auto 80px;
}

.main-photos {
  padding-bottom: 18px;
}

.main-photos h1 {
  padding: 20px 20px;
  font-size: 2rem;
}

.photos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photos .one-photo {
  border: 10px solid #d9c6a3;
  width: 67%;
  height: 60%;
  background-color: #05050394;
  margin-bottom: 20px;
}

/*botones en gral*/
.btn {
  background-color: #05050394;
  color: #d9c6a3;
  font-size: small;
  font-family: "Playfair Display", serif;
  padding: 15px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #244166ad;
  color: whitesmoke;
}

/*boton mas videos INDEX*/
#videos-btn {
  padding-top: 10px;
}

#videos-btn a {
  color: #d9c6a3 !important;
  text-decoration: none !important;
}

#videos-btn a:hover {
  color: whitesmoke !important;
}

#videos-btn a:visited {
  color: #d9c6a3;
}

/*botones del canva INDEX*/
.btn-close {
  background-color: #d9c6a3;
}

.video-card-text {
  color: #d9c6a3 !important;
  text-decoration: none !important;
}

.video-card-text:hover {
  color: whitesmoke !important;
}

.video-card-text:visited {
  color: #d9c6a3;
}

/*boton form STORE*/
#form-btn {
  width: 100%;
}

/*boton de tickets EVENTS*/
.ticket-btn {
  font-size: small;
  width: 92px;
}

/*estilos mq 1440px*/
@media screen and (min-width: 1440px) {
  #index-body {
    -ms-grid-rows: auto auto 80px;
        grid-template-rows: auto auto 80px;
  }
  .photos .one-photo {
    width: 80% !important;
  }
}

/*estilos mq 965px*/
@media screen and (max-width: 965px) {
  #music-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto 80px;
        grid-template-rows: auto auto 80px;
        grid-template-areas: "navbar" "main" "footer";
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/*estilos mq 768px*/
@media screen and (max-width: 768px) {
  #index-body {
    -ms-grid-rows: auto auto 80px;
        grid-template-rows: auto auto 80px;
  }
  #video-container {
    margin-top: 100px;
    margin-bottom: 225px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #video-container #video {
    width: 85%;
    height: 100%;
    padding: 5px;
  }
  .main-photos {
    margin-top: 40px;
    padding-bottom: 120px;
  }
  .main-photos .one-photo {
    width: 85% !important;
    height: 60% !important;
  }
}

/*estilos mq 610px*/
@media screen and (max-width: 647px) {
  .subs-container {
    width: 75%;
    padding-bottom: 20px;
  }
  .subs-container #subscribe-first {
    padding-top: 3%;
    margin-left: 5%;
  }
}

/*estilos mq 519*/
@media screen and (max-width: 519px) {
  .store-main {
    font-size: medium;
  }
  .sm-bar {
    display: none;
  }
  .river-link {
    font-size: medium;
  }
  .footer {
    font-size: medium;
  }
  .link-bar {
    display: none;
  }
  .navbar-dark {
    display: inline-block;
    margin-bottom: 15px;
  }
  .navbar-dark .navbar-toggler {
    color: #050503;
    border-color: #050503;
  }
  .p-4 {
    display: block;
    font-size: large;
    padding: 1.0rem !important;
  }
  .p-4 ul {
    padding-left: 0rem;
  }
  #video-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    margin-bottom: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  #video-container #video {
    width: 95%;
  }
  .common-header {
    font-size: 1.75rem !important;
  }
  #out-now a h1 {
    font-size: 1.3rem;
  }
}

/*estilos mq 463px*/
@media screen and (max-width: 463px) {
  .p-4 {
    font-size: 0.75rem;
    padding: 0.5rem !important;
  }
  #video-container {
    margin-top: 170px;
    margin-bottom: 181px;
  }
  .common-header {
    font-size: 1.5rem !important;
  }
  #out-now a h1 {
    font-size: 1.1rem;
  }
  #music-container .album {
    width: 300px !important;
    height: 300px !important;
  }
  #contain-events .eventRow .location {
    padding-top: 2%;
  }
  #contain-events .eventRow .location .city {
    font-size: small;
  }
  #contain-events .eventRow .location h3 {
    font-size: 1.0rem;
  }
  #contain-events .eventRow .date {
    font-size: medium;
  }
  #contain-events .eventRow .tickets .ticket-btn {
    width: 73px;
    font-size: small;
    padding: 10%;
  }
}

/*estilos mq 375px*/
@media screen and (max-width: 375px) {
  .river-link {
    font-size: small;
  }
  #video-container {
    margin-top: 100px;
    margin-bottom: 180px;
  }
  #video-container #videos-btn {
    padding-top: 15px;
  }
  .main-photos {
    margin-top: 30px;
    padding-bottom: 70px;
  }
  .photos .one-photo {
    border: 5px solid #d9c6a3;
  }
  #out-now a h1 {
    font-size: 1.0rem;
  }
  .subs-container .form-check {
    margin-left: 4%;
  }
}

/*estilos mq 320px*/
@media screen and (max-width: 320px) {
  .p-4 {
    font-size: 0.8rem;
  }
  ul li {
    padding: 2px;
  }
  .nav {
    padding-left: 5px;
  }
  .common-header {
    font-size: 1.4rem !important;
  }
  #out-now a h1 {
    font-size: 0.9rem;
  }
  #contain-events .eventRow .location h3 {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=styles.css.map */