
/* Estilos de elementos grales*/

/*el contenido gral con el diseño con 3 grandes partes, navbar, main y el footer (el nav y footer son comúnes a todo el sitio)*/

.contain{
    color: #D9C6A3;
    padding: 5px;
    background-color: #050503;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    display: grid;
    grid-template-rows: auto 700px 80px;
    grid-template-areas: "navbar"
                         "main"
                         "footer";

}

.p-4{
    display: none;
}

.nav{
    border-top: 1px solid #D9C6A3;
    padding-top: 10px;
}

.nav-border{
    border-bottom: 1px solid #D9C6A3;
}

.navbar-dark{
    display: none;
}

.logo-container{
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 20px;
}

.sm-bar{
    padding-right: 50px;
}

/*los siguientes son los estilos de listas y links teniendo más en cuenta colores y decoraciones*/

ul{
    list-style-type: none;
}

ul li{
    display: inline-flex;
    padding: 5px;
}

a:link{
    color: #D9C6A3;
    text-decoration: none;
}

a:visited{
    color: #D9C6A3;
    text-decoration: none;
}

a.logo:hover{
    color: #D9C6A3;
}

a:hover{
    color: whitesmoke;
}

.main{
    background-image: url(../img/bck.jpg);
}



/*estilo de los botones, dandole hover al pasar el puntero por encima, y tamaño a la fuente */


.btn{
    background-color: #05050394;
    color: #D9C6A3;
    font-size: small;
    font-family: 'Playfair Display', serif; 
    padding: 15px;
    border: none;
    transition: all 0.2s;
}

.btn:hover{
    background-color: #244166ad;
    color: whitesmoke;
}

.small-text{
    font-size: 15px;
    color: #D9C6A3;
}

.footer{
    color: #D9C6A3;
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-top: 1px solid #D9C6A3;
    max-height: 80px;
    justify-content: space-evenly;
}

.sm-footer{
    width: 297px;
    height: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    height: 35px;

}



/*estilos INDEX, al cual además de la estructura gral, se le agrega un video y un banner de promoción del último disco*/



#out-now{
    height: 40px;
    background-color: #D9C6A3;
    color: #050503;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animate__animated.animate__flash {
    --animate-duration: 3s;
  }

a.river-link{
    color: #050503;
}
.river-link:hover{
    text-decoration: underline;
}

#video-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    aspect-ratio: 16/9;

}

#video{
    width: 60%;
    height: 70%;
    border: 1px solid #D9C6A3;
    padding: 10px;

}

#video:hover{
    background-color: #244166ad;

}

#videos-btn{
    padding-top: 10px;
}

#masVideos{
    background-color: #050503;
}

#masVideosLabel{
    text-decoration: overline;
    padding-right: 35px;
}

.btn-close{
    background-color: #d9c6a3;
    
}

/*miniaturas canvas*/

.offcanvas-body{
    overflow: hidden;
    display: flex;
    border: 1px solid #D9C6A3;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px

}

.img-yt{
    height: 90% !important;
}

.card.video-card{
    height: 90%;
    padding-bottom: 0px;
}

.video-card-text{
    height: 10%;
    position: relative;
}

.offcanvas-body:hover{
    border: 1px solid whitesmoke;
}

.offcanvas-body:hover .video-card-text{
    color: whitesmoke !important;
}
/*estilos STORE*/

.store-main{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
   
}

h4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.store-soon{
    padding-bottom: 20px;
}
.subs-container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #D9C6A3;
    width: 70%;
    padding-bottom: 50px;
    background-color: #05050394;
    
}

#subscribe-first{
    padding: 10px 10px;
}

input{
    outline: 0 !important;
    border: none !important ;
    border-bottom: 1px solid #D9C6A3 !important;
    box-sizing: border-box ;
    background-color: #05050300 !important;
    color: #D9C6A3 !important;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: medium; 
    width: 60%;
}

.checkbox{
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    justify-content: space-around;
}

#form-btn{
    width: 100%;
}

/*estilos EVENTS*/

#main-events{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

#contain-events{
    display: flex;
    flex-flow: column wrap;
    color: #050503;
    height: auto;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke; 
    padding: 5px 5px;
}


.eventRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #050503;
    justify-content: space-evenly;
    background-image: linear-gradient(54deg, #d9c6a3, #c9b797b5);}

.location{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.date{
    width: 150px;
    padding-left: 30px;
}

.tickets{
    padding-right: 30px;
}

.city{
    
    font-size: medium;
}  

.ticket-btn{
    font-size: small;
    width: 92px;
}

#events-modal{
    padding-right: 0% !important;
}

.modal-backdrop.show {
    height: 100%;
    width: 100%;
}

.modal-content{
    background-color: #050503d9;
    border: 1px solid #D9C6A3;
}


/*estilos MUSIC*/

.card{
    background-color: #05050300 !important;
    padding-bottom: 20px;
}

#music-container{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

.album{
    border: 1px solid #D9C6A3;
    padding: 10px;
}

.album:hover{
    background-color: #244166ad;
}

.album-caption{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}



/*estilos ELBANDO*/


#bando-body{
    grid-template-rows: auto auto 80px;

}


.main-photos{
    display: flex;
    flex-flow: column wrap;
}

h2{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 20px 20px;
}

.photos{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.one-photo{
    border: 10px solid #D9C6A3;
    width: 80% !important;
    height: 60% !important;
    background-color: #05050394;
    margin-bottom: 20px;
} 

/*MEDIA QUERIES*/

/*solución problema del body del INDEX en resoluciones > a 1440px*/

@media screen and (min-width: 1440px) {
    #index-body{
        grid-template-rows: auto auto 80px;
    }
}


/*cambio tamaño del body y del contenedor del video en el INDEX*/

@media screen and (max-width: 768px) {

    #index-body{
        grid-template-rows: auto auto 80px;
    }

    #video-container{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #video{
        width: 80%;
        padding: 5px;
    }
}



/*modifico en MUSIC el album container, y el navbar en gral para que quede acorde el diseño*/

@media screen and (max-width: 965px) {
    .album-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
    }

    #music-body{
        
        display: grid;
        grid-template-rows: auto auto 80px;
        grid-template-areas: "navbar"
                             "main"
                             "footer";
    }

    #secondAlbum{
        padding-bottom: 20px;
    }

    .navbar{
        justify-content: center;
        align-items: flex-end;
    }
} 



/* escondo la barra de social media en el navbar, la fuente en el footer, cambio tamaño fuentes en div de STORE */

@media screen and (max-width: 519px) {

    .store-main {
        font-size: medium;
    }

    .sm-bar{
        display: none;
    }

    .river-link{
        font-size: medium;
    }

    .footer{
        font-size: medium;
    }

    .link-bar{
        display: none;

    }

    .navbar-dark{
        display: inline-block;
        margin-bottom: 15px;
    }

    .navbar-dark .navbar-toggler {
        color: #050503;
        border-color: #050503;
    }

    .p-4{
        display: block;
        font-size: large;
        padding: 1.0rem !important;
    }

    .p-4 ul{
        padding-left: 0rem;
    }

    #video-container{
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 40px;
        justify-content: space-around;
        width: 100%;
    }

    #video {
        width: 95%;
        height: 90%;
    }

}

/*cambio fuente en menu del nav */

@media screen and (max-width: 463px) {
    .p-4{
        font-size: 12px;
        padding: 0.5rem !important;
    }

    #video-container{
        margin-top: 60px;
        margin-bottom: 70px;
    }
}

/*cambio fuente del banner del INDEX */

@media screen and (max-width: 375px) {
    .river-link{
        font-size: small;
    }

    #videos-btn{
        padding-top: 0px;
    }

    #video-container{
        margin-top: 70px;
        margin-bottom: 120px;
    }

    #videos-btn {
        padding-top: 15px;
    }
}

/*cambio padding entre elementos del link menu para dejarlos en linea*/

@media screen and (max-width: 320px) {
    ul li {
        padding: 4px;
    }

    .nav{
        padding-left: 5px;
    }
}