/*estilos BANDO*/

#bando-body{
    grid-template-rows: auto auto 80px;
}

.main-photos{
    @extend .flex-column-wrap;
    padding-bottom: 20px;

    h2{
        @extend .flex-row-wrap;
        align-content: center;
        justify-content: center;
        padding: 20px 20px;
    }
}

.photos{
    
    @extend .flex-row-wrap;
    justify-content: center;

    .one-photo{
        border: $photo-border;
        @include sizes(90% !important, 60% !important);
        background-color: $btn-clr;
        margin-bottom: 20px;
    } 
 
}





