/*estilos grales del sitio */

*, *::before, *::after{
    box-sizing: border-box;
}

.contain{
    color: $prim-clr;
    padding: 5px;
    background-color: $second-clr;
    font-family: $prim-font;
    font-size: 20px;
    display: grid;
    grid-template-rows: auto 700px 80px;
    grid-template-areas: "navbar"
                         "main"
                         "footer";

}

.main{
    background-image: url(../img/bck.jpg);
}

/*estilos modal de contacto*/

#contactModal {
    .modal-content{
        @extend .modal-content-format;
    }
   
    textarea.form-control {
        font-family: monospace;
    }
}