//estilos de eventos


#main-events{
    @extend .flex-column-wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;

    h1{
        @extend .flex-row-wrap;
        font-size: 2rem;
        align-content: center;
        justify-content: center;
        padding: 20px 20px;
    }
}

#contain-events{
    @extend .flex-column-wrap;
    color: $second-clr;
    height: auto;
    border-top: $scnd-border;
    border-bottom: $scnd-border; 
    padding: 5px 5px;
    .eventRow{
        @extend .flex-row-nowrap;
        align-items: center;
        border-bottom: $row-border;
        justify-content: space-evenly;
        background-image: linear-gradient(54deg, $prim-clr, $grad-clr);

        &:hover{
            background-color: rgba(245, 245, 245, 0.808);
        }
    
        .location{
            @extend .flex-column-nowrap;
            p{
                padding-bottom: 0;
            }
            .city{ 
                font-size: medium;
            } 
        }
    
    }
}

//estilos modal events

#events-modal{
    padding-right: 0% !important;

    .modal-content{
        background-color: $modal-bclr;
        border: $prim-border;
    }
}

.modal-backdrop.show {
    //para que ocupe toda la pagina la sombra del modal
    @include sizes(100%, 100%);
}


