
#out-now {
    height: 40px;
    background-color: $prim-clr;
    color: $second-clr;
    @extend .flex-row-nowrap;
    @extend .center;

    .animate__animated.animate__flash {
        --animate-duration: 3.25s;
    }

    a.river-link {
        color: $second-clr;

        &:hover {
            text-decoration: underline;
        }
    }

    a {
        h1 {
            font-size: 1.5rem;
        }
    }
}

#video-container {
    @extend .flex-column-wrap;
    @extend .center;
    align-content: space-around;
    aspect-ratio: 16/9 !important;

    #video {
        @include sizes(60%, 70%);
        border: map-get($media-frame , border);
        padding: map-get($media-frame , padding);
    
        &:hover {
            background-color: map-get($media-frame, bg-clr);
            border: $scnd-border;
        }
    }
}

#masVideos {
    background-color: $second-clr;
}

#masVideosLabel {
    text-decoration: overline;
    padding-right: 35px;
}

/*miniaturas canvas*/

.offcanvas-body {
    overflow: hidden;
    @extend .flex-row-nowrap;
    border: map-get($media-frame , border);
    padding: map-get($media-frame , padding );
    align-items: center;
    margin-bottom: 10px;

    &:hover {
        border: $scnd-border;

        .video-card-text {
            color: $third-clr !important;
        }
    }
}

.img-yt {
    height: 90% !important;
}

.card.video-card {
    background-color: $second-clr;
    height: 90%;
}

.video-card-text {
    height: 10%;
    position: relative;
}

