
#out-now{
    height: 40px;
    background-color: $prim-clr;
    color: $second-clr;
    @extend .flex-row-nowrap;
    justify-content: center;
    align-items: center;

    .animate__animated.animate__flash {
        --animate-duration: 3s;
    }

    a.river-link{
        color: $second-clr;

        &:hover {
            text-decoration: underline;
        }
    }
}

#video-container{
    @extend .flex-column-wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    aspect-ratio: 16/9 !important;

    #video{
        @include sizes(60%, 70%);
        border: $prim-border;
        padding: 10px;
    
        &:hover{
            background-color: $btn-hover;
            border: $scnd-border;
        }
    }
}

#masVideos{
    background-color: $second-clr;
}

#masVideosLabel{
    text-decoration: overline;
    padding-right: 35px;
}

/*miniaturas canvas*/

.offcanvas-body{
    overflow: hidden;
    display: flex;
    border: $prim-border;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;

    &:hover{
        border: $scnd-border;

        .video-card-text{
            color: $third-clr !important;
        }
    }
}

.img-yt{
    height: 90% !important;
}

.card.video-card{
    background-color: $second-clr;
    height: 90%;
}

.video-card-text{
    height: 10%;
    position: relative;
}

