/*estilos mq 463px*/ 

@media screen and (max-width: 463px) {
    .p-4{
        font-size: 12px;
        padding: 0.5rem !important;
    }

    #video-container{
        margin-top: 170px;
        margin-bottom: 181px;
    }

    .common-header{
        font-size: 1.5rem !important;
    }

    #out-now{
        a {
            h1 {
                font-size: 1.1rem;
            }
        }
    }

    #music-container .album{
        width: 300px !important;
        height: 300px !important;
    }

    #contain-events{

        .eventRow{
          
            .location{
                padding-top: 2%;

                .city{ 
                    font-size: small;
                } 

                h3{
                    font-size: 1.0rem;
                }
            }
            
            .date{
                font-size: medium;
            }

            .tickets {

                .ticket-btn{
                    width: 73px;
                    font-size: small;
                    padding: 10%;
                }
            }
        
        }
    }

}