/*estilos mq 320px*/ 

@media screen and (max-width: 320px) {
    ul {
        li {
            padding: 4px;
        }
    }

    .nav{
        padding-left: 5px;
    }

    .store-soon{
        font-size: 1.4rem !important;
    }
}