/*estilos mq 320px*/ 

@media screen and (max-width: 320px) {
    
    .p-4{
        font-size: 0.8rem;
    }

    ul {
        li {
            padding: 2px;
        }
    }

    .nav{
        padding-left: 5px;
    }

    .common-header{
        font-size: 1.4rem !important;
    }

    #out-now{
        a {
            h1 {
                font-size: 0.9rem;
            }
        }
    }

    #contain-events{

        .eventRow{
          
            .location{
                
                h3{
                    font-size: 0.9rem;
                }
            }
        }
    }

}