/*estilos de MUSIC*/


#music-container{
    @extend .flex-row-wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;

    .card{
        background-color: $card-bclr !important;
        padding-bottom: 20px;
    }
    
    .album{
        border: $prim-border;
        padding: 5px;
    
        &:hover{
            background-color: $btn-hover;
            border: $scnd-border;
        }
    }
}


