//colores

$prim-clr : #d9c6a3;
$second-clr: #050503;
$third-clr: whitesmoke;
$grad-clr: #c9b797b5;
$modal-bclr: #050503d9;
$card-bclr: #05050300;

$btn-clr: #05050394;
$btn-hover: #244166ad;

//elementos

$prim-border: 1px solid $prim-clr;
$scnd-border: 1px solid $third-clr;
$row-border: 1px solid $second-clr;
$photo-border: 10px solid $prim-clr;

$prim-font: 'Playfair Display', serif;
$logo-font: 'Kanit', sans-serif;

//extend

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}

.flex-column-wrap{
    display: flex;
    flex-flow: column wrap;
}

.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}

.flex-column-nowrap{
    display: flex;
    flex-flow: column nowrap;
}

.center{
    justify-content: center;
    align-items: center;
}

//mixin

@mixin sizes($width, $height) {
    width: $width;
    height: $height;

}
 
//maps

$media-frame:(
    padding: 5px,
    border: $prim-border,
    bg-clr: $btn-hover,
);