//colores

$prim-clr : #d9c6a3;
$second-clr: #050503;
$third-clr: whitesmoke;
$grad-clr: #c9b797b5;
$modal-bclr: #050503d9;
$card-bclr: #05050300;

$btn-clr: #05050394;
$btn-hover: #244166ad;

//elementos

$prim-border: 1px solid $prim-clr;
$scnd-border: 1px solid $third-clr;
$row-border: 1px solid $second-clr;
$photo-border: 10px solid $prim-clr;

$prim-font: 'Playfair Display', serif;
$logo-font: 'Kanit', sans-serif;

